In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
train_data = pd.read_csv('C:/Users/Valaska/Downloads/Train.csv')
test_data = pd.read_csv('C:/Users/Valaska/Downloads/Test.csv')
riders = pd.read_csv('C:/Users/Valaska/Downloads/Riders.csv')
dataset = pd.merge(train_data, riders, how='inner', on='Rider Id')
test_data = pd.merge(test_data, riders, how = 'inner', on= 'Rider Id')

In [5]:
train_data.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [ ]:
riders.head()

In [ ]:
train_data.nunique()

In [ ]:
dataset = pd.merge(train_data, riders, how='inner', on='Rider Id')

In [ ]:
new_train_data = train_data.drop(['User Id', 'Vehicle Type', 'Placement - Day of Month', 'Placement - Time', 
                                  'Confirmation - Day of Month', 'Arrival at Pickup - Weekday (Mo = 1)',
                                  'Confirmation - Weekday (Mo = 1)', 'Confirmation - Time',
                                  'Arrival at Pickup - Day of Month', 'Arrival at Pickup - Time',
                                  'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)',
                                  'Arrival at Destination - Day of Month','Arrival at Destination - Weekday (Mo = 1)',
                                   'Pickup Lat','Pickup Long', 'Destination Lat', 'Destination Long'], axis = 1)

In [26]:
new_train_data.head()

,Order No,Platform Type,Personal or Business,Placement - Weekday (Mo = 1),Pickup - Time,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,3,Business,5,10:27:30 AM,10:39:55 AM,4,20.4,NaN,Rider_Id_432,745
1,Order_No_25375,3,Personal,5,11:44:09 AM,12:17:22 PM,16,26.4,NaN,Rider_Id_856,1993
2,Order_No_1899,3,Business,2,12:53:03 PM,1:00:38 PM,3,NaN,NaN,Rider_Id_155,455
3,Order_No_9336,3,Business,5,9:43:06 AM,10:05:27 AM,9,19.2,NaN,Rider_Id_855,1341
4,Order_No_27883,1,Personal,1,10:05:23 AM,10:25:37 AM,9,15.4,NaN,Rider_Id_770,1214

In [27]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
new_train_data['Personal or Business'] = le.fit_transform(new_train_data['Personal or Business'])

In [36]:
new_train_data.head()

,Order No,Platform Type,Personal or Business,Placement - Weekday (Mo = 1),Pickup - Time,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,3,0,5,10:27:30 AM,10:39:55 AM,4,20.4,NaN,Rider_Id_432,745
1,Order_No_25375,3,1,5,11:44:09 AM,12:17:22 PM,16,26.4,NaN,Rider_Id_856,1993
2,Order_No_1899,3,0,2,12:53:03 PM,1:00:38 PM,3,NaN,NaN,Rider_Id_155,455
3,Order_No_9336,3,0,5,9:43:06 AM,10:05:27 AM,9,19.2,NaN,Rider_Id_855,1341
4,Order_No_27883,1,1,1,10:05:23 AM,10:25:37 AM,9,15.4,NaN,Rider_Id_770,1214

In [1]:
X = new_train_data.iloc[:, :-1].values
y = new_train_data.iloc[:, -1].values

NameError: name 'new_train_data' is not defined

In [ ]:
#Average of Temperature
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 7:8])
X[:, 7:8] = imputer.transform(X[:, 7:8])